
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

a:link, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

header, img.logo, .content, p.top, footer {
  margin: 0 20px;
}

header {
  margin-top:30px;
  margin-bottom: 30px;
}

img.logo {
  max-height: 125px;
  margin: 0;
  margin-bottom: 5px;
}

h1 {
  margin: 0;
  font-size: 40px;
}

tagline {
  font-size: 16px;
}

.menu ul {
  margin-bottom: 30px;
}

.menu li a {
  display: grid;
  padding: 0 4%;
  margin: 5px 0;
  height: 45px;
  letter-spacing: 2px;
  text-align: right;
  align-content: center;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.3em;
}

.content h2, .content h3, .content h4 {
  margin: 10px 0;
}

.content h2 {
  font-size: 35px;
  line-height: 1em;
  margin-bottom: 20px;
}

.content h3 {
  font-size: 25px;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 0;
}
  
.content h4 {
  font-size: 30px;
  line-height: 1em;
}

.content ul {
  margin: 15px 0;
  margin-top: 5px;
}

.content li {
  margin-left: 5px;
  margin-right: 15px;
}

.content img.float-right, .content img.float-left, .content img.generic, .content img.large {
  max-width: 100%;
}

.content img.float-right, .content img.float-left {
  display: block;
  margin: 25px 0;
}

.content img.generic {
  max-height: 100%;
  margin: 10px 0;
  margin-left: auto;
  margin-right: 0;
}

.content img.basic {
  max-width: 100%;
  margin: 5px 0;
  border: 1px solid #EEE;
}

.content img.other-logo {
  max-height: 120px;
  max-width: 225px;
  display: block;
  margin: 20px 0;
}

.content p.caption {
  text-align: right;
  font-size: 15px;
}

.content p.right {
  text-align: right;
}

.content p.center {
  text-align: center;
}

.content p.smaller {
  font-size: 16px;
}

.product h3, .product h4 {
  text-align: right;
  text-transform: uppercase;
}

.product h3 {
  font-size: 50px;
}

.product h4 {
  font-size: 40px;
}

.product img {
  max-width: 100%;
}

.product li:before {
  content: "\22C5";
  margin-right: 5px;
}

.gallery a:hover {
  opacity: 0.7;
}

.catalogue {
  margin-bottom: 15px;
}

/* non-essential future feature: 
   proper left align */
.catalogue ul {
  text-align: center;
}

.catalogue li {
  text-transform: uppercase;
  line-height: 1em;
  font-size: 15px;
  text-align: left;
  border: 1px dotted #666;
  width: 270px;
  height: 270px;
  margin: 10px 7.5px;
  padding: 10px 10px;
  display: inline-grid;
  align-content: space-between;
}

.catalogue hr {
  margin: 10px 0;
  border:none;
  border-bottom: 1px dotted #777;
}

.catalogue img {
  max-height: 195px;
  max-width: 270px;
  margin: 0 auto;
}

.catalogue h3, .catalogue h4 {
  font-size: 20px;
  padding-top: 3px;
}

.catalogue h4 {
   text-align: right;
}

/*  hides catalogue plain list. not sure what else  */

.hider img.hidden, .hider h3.hidden, .hider h4.hidden, .hider ul {
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

/* someday soon: no more iframes ever */
.resp-container {
  position: relative;
  overflow: hidden;
}

.resp-gmap {
  margin-top: 25px;
  padding-top: 100%;
}

.resp-video {
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border; 0;
}

p.top {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  clear: both;
}

hr {
  margin: 20px auto;
  border:none;
  border-top: 1px dotted #000;
  width: 80%;
}

footer {
  margin-bottom: 20px;
  text-align: right;
  line-height:1.1em;
}

footer .endmenu {
  text-align: center;
  line-height:1.3em;
  margin-bottom: 15px;
}

footer img {
  display: inline-grid;
  margin-left: 5px;
}

.tel-a:before, .tel-b:before {
    unicode-bidi: bidi-override;
}

.tel-a:before {
    content: attr(data-1) '1' '8';
}
.tel-a:after {
    content: ' ' '9' '7' attr(data-2);
}

.tel-b:before {
    content: attr(data-3) '2' '3';
}


@media (min-width: 375px) {
  
  .catalogue li {
    width: 335px;
    height: 335px;
  }
  
  .catalogue h3, .catalogue h4 {
    font-size: 25px;  
    padding-top: 6px;
  }
  
  .catalogue img {
    max-height: 250px;
    max-width: 325px;
    margin: 0 auto;
  }

}


@media (min-width: 650px) {

  header {
    line-height: 2em;
    margin-top:90px;
  }
  
  .menu ul {
    text-align:right;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding-right: 20px;
    z-index: 1;
    border-bottom: 1px solid #F8F8F8;
  }
  
  .menu li {
    display: inline-grid;
    width: 130px;

  }
  
  .menu li a, .menu li {
    text-align: center;
    height: 50px;
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  .menu li:hover a {
    color: #FFF;
  }
  
  .content {
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .content img.generic {
    display: block;
    max-width: 550px;
    max-height: 400px;
  }
  
  .content img.float-right {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 300px;
  }
  
  .content img.float-left {
    float:left;
    margin: 0 20px 20px 0;
    max-width: 300px;
  }
  
  .content img.other-logo {
    max-height: 300px;
    max-width: 300px;
  }
    
  .product img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .product input[type=submit] {
    font-size: 25px;
    padding: 15px 30px 11px 30px;
  }
  
  .product li {
    margin-left: 15px;
  }
   
  .catalogue {
    margin-top: -15px;
  }
  
  .resp-gmap {
    padding-top: 75%;
  }
  
  p.top {
    text-align: left;
  }
  
  footer .endmenu {
    column-count: 3;
  }
  
}


@media (min-width: 1264px) {
  
  header {
    margin-top:90px;
  }

  header, p.top, footer {
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .content, .product {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  img.logo {
    float:left;
    height: 123px;
    margin-right: 20px;
  }
  
  h1 {
    font-size: 65px;
    position: relative;
    top: 35px;
  }
  
  tagline {
    margin: 0;
    font-size: 35px;
    position: relative;
    top: 45px;
  }

  header {
    height: 130px;
  }
  
  .menu li a, .menu li {
    height: 55px;
  }
  
  .content {
    margin-bottom: 35px;
  }
  
  .content h2 {
    font-size: 40px;
  }
 
  .content h3 {
    font-size: 30px;
  }
  
  .content img.generic {
    display: inline-block;
    max-height: 290px;
    max-width: 380px;
/* for wk customize:  max-width: 384px; */
    margin: 4.5px;
  }
  
  .content p.caption {
    text-align: left;
    margin-left: 20px;
  }
  
  .product h3 {
    font-size: 60px;
  }

  .product h4 {
    font-size: 45px;
  }

  .product img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .product article {
    column-count: 2;
  }
  
  .catalogue li {
    width: 375px;
    height: 375px;
  }
  
  .catalogue img {
    max-height: 280px;
    max-width: 370px;
    margin: 0 auto;
  }
  
  .resp-gmap {
    padding-top: 30%;
  }
  
  footer .endmenu {
    column-count: 4;
  }
  
}

