
<p class="top">
<a href="#top">BACK TO TOP OF PAGE</a>
</p>


<hr>


<footer class="standard">

<div class="endmenu">
  <a href="/htm/info/returns.htm">Returns policy</a><br>
  <a href="/htm/info/delivery.htm">Delivery info</a><br>
  <a href="/htm/info/payment.htm">Payment info</a><br>
  <a href="/htm/info/order.htm">Order process</a><br>
  <a href="/htm/info/manufacturing.htm">Manufacturing</a><br>
  <a href="/htm/info/privacy.htm">Privacy policy</a><br>
  <a href="/htm/info/faqs.htm">FAQs</a><br>
  <a href="/htm/info/guide.htm">Owner's guide</a><br>
</div>

<img class="card" src="/img/footer/visa-s.png">
<img class="card" src="/img/footer/mastercard-s.png">
<img class="card" src="/img/footer/amex-s.png"><br>


<a target="_blank" href="/img/footer/t.png">
<span class="tel-a" data-1="01" data-2="9 "></span><span class="tel-b" data-3="10"></span>
</a>
<wbr>

<a target="_blank" href="/img/footer/e-raclet.png">
<span class="email-r-a" data-1="ma" data-2="ra"></span><span class="email-r-b" data-3="cl" data-4="uk"></span>
<!--  do not break <span> one-line! -->
</a>
<br>


Raclet Ltd. <wbr>◆<wbr/> Registered company #0946896<br>

</footer>


</body>

</html>
