
<hr>


<footer class="simple">

<img class="card" src="/img/footer/visa-s.png">
<img class="card" src="/img/footer/mastercard-s.png">
<img class="card" src="/img/footer/amex-s.png"><br>


  <span class="tel-a" data-1="01" data-2="9 "></span><span class="tel-b" data-3="10"></span>
<wbr>

  <span class="email-r-a" data-1="ma" data-2="ra"></span><span class="email-r-b" data-3="cl" data-4="uk"></span>
  <!--  do not break <span> one-line! -->
<br>

Raclet Ltd. ◆ Registered company #0946896<br>

</footer>


</body>


<!--

WARNING: this file is required by checkout to render page, do not move

  -->

</html>
